@import url("https://fonts.googleapis.com/css2?family=Dangrek&display=swap");

body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 25px 0 0 0;
}
#displayContainer {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  font-family: "Dangrek", cursive;
  font-size: 20px;
}

ul {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  height: 400px;
  list-style: none;
  padding: 0px;
}

img {
  margin: 0;
  height: 400px;
  width: auto;
}

button {
  background-color: black;
  color: white;
  width: 200px;
  padding: 10px;
  margin: 0;
}
